*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 1.5em;
}

.calculator {
  border: 2px solid black;
}

.display {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid black;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  display: flex;
}

.numbers {
  width: 225px;
  height: 300px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.operators {
  width: 75px;
}

.button {
  width: 75px;
  height: 75px;
}

.misc-buttons {
  display: flex;
}

#equals {
  width: 225px;
}
