*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#calculator {
    display: flex;
}
#digits {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 225px;
}
#operators {
    width: 75px;
}
button {
    width: 75px;
    height: 60px;
    font-size: 25px;
}